node_modules/
frontend/node_modules/
electron/node_modules/
release/
dist/
frontend/dist/
electron/dist/
ios/
android/
*.exe
*.dll
*.pak
*.bin
*.asar
*.map
*.blockmap
*.yml
*.ico
.DS_Store
Thumbs.db
*.log
.env
.vscode/
.idea/
xcuserdata/
